ul.lists-items, ul.list-col3, ul.tab-popup, ul.list-popup-col2 { margin:0; padding:0; list-style:none; }
.show-list { cursor:pointer; }
.show-tooltip { font-weight:bold;  color:black|90;
cursor:pointer; }
.popup-background { display:none; position:fixed; _position:absolute; /* hack for internet explorer 6*/ height:100%; width:100%; background:#000000; z-index:1; opacity:0.7; }
.popup-choose { border:5px solid #E27821; width:450px; padding:0px; background:#F9FCFF; -moz-border-radius: 5px; -webkit-border-radius: 10px; z-index:9999; display:none; }
.popup-choose h2 { font:bold 14px Arial; line-height:31px; color: #E27821; padding:0px 5px 0px 5px; position:relative; margin-bottom:5px; background: url(popup_bg.gif) repeat-x transparent;}
.popup-choose .box-adnet { background:#FFF; border:1px solid #CCC; padding:20px; }
.popup-close { font-size:11px; font-weight:bold; font-family:Arial; color:red; position:absolute; right:5px; padding:0px 5px 0px 5px; cursor:pointer; }
.popup-content { height: auto; width:auto; padding:0px 5px 0px 5px; color:#000000; margin: 0px 0px 7px 0px; border: 0px solid #000000;}
.popup-choose .jqDnR {cursor:move;}

/*Form*/
.popup-content table.popup-form {border: 0px;color:#000000; }
.popup-content table.popup-form td {color:#000000; }
.popup-choose .button, .popup-choose .submit{
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFF8C5;
    border-color: #FFFDEE #FDB939 #FDB939 #FFFDEE;
    border-style: solid;
    border-width: 1px;
    color: #FF3A00;
    margin-right: 1em;
    padding: 0 10px;}

/*Danh sách bạn bè của bạn*/
ul.tab-popup li { float:left; margin-right:10px; position:relative; top:1px; }
ul.tab-popup li a { padding:0 20px; display:inline-block; line-height:27px; }
ul.tab-popup li a:hover, ul.tab-popup li.active a { text-decoration:none; border:1px solid #a0b3c3; border-bottom:none; background:#fff; }
ul.tab-popup li.active a { font-weight:bold; }
ul.list-popup-col2 li { float:left; width:45%; padding:10px 0 10px 10px; border:1px solid #a0b3c3; margin:0 10px 10px 0; }
ul.list-popup-col2 li .img-50 { float:left; margin-right:10px; }
ul.list-popup-col2 li .r-list-col2 { float:left; width:140px; }
ul.list-popup-col2 li.active { background:#f3f8f9; }
ul.list-popup-col2 li.active .icon-done-popup { background:url(../icons/icon-done-popup.png) no-repeat 0 0; display:block; width:16px; height:14px; float:left; margin-top:38px; }
ul.list-popup-col2 li img { float:left; margin-right:10px; }
/*--------End---------*/
