<div class="box">	
	<h3>Tỉnh/thành phố</h3><br>		
	<form method="POST" action="">
	{|location_id|}
	{|provinceID|}
	<table cellpadding="5" cellspacing="0" class="toggle-content">
		<tr>
			<th width="100">name</th>
			<th>{|name|}</th>
		</tr>
		<tr>
			<th>Mô tả</th>
			<th>{|description|}</th>
		</tr>
		<tr>
			<th>Tình trạng</th>
			<th>{|status|}</th>
		</tr>		
		<tr>	<td colspan="2" class="footoperation">
				<input type="submit" value="Hoàn thành" name="submit">	
				<input type="reset" value="Làm lại" name="reset">		
			</td>
		</tr>
	</table>	
</form>
</div>




