<div class="mainbox">	
	<h3>Chỉnh sửa thông tin Danh mục</h3>	
	{|FORM_BEGIN|}
	{|id|}
	<table cellpadding="5" cellspacing="0">
		<tr>
			<th>Tên danh mục</th>
			<th>{|name|}</th>
		</tr>
		<tr>
			<th>Mô tả</th>
			<th><div>{|description|}</div></th>
		</tr>
		<tr>
			<th>Tình trạng</th>
			<th>{|status|}</th>
		</tr>
		<tr>
			<th>Danh mục cha</th>
			<th>{|parentID|}</th>
		</tr>
		<tr>
			<td colspan="2" class="footoperation"><center>
			<input type="submit" name="register" id="register" value="Hoàn thành"/>
			<input type="reset" value="Làm lại" id="reset"/></center>		
			</td>
		</tr>
	</table>	
	{|FORM_END|}
</div>





