<div>
<span class="headactions"></span>
<h2><a href="/frm2/dbCgsBackup/index">Menu Quản Lý</a></h2>
<ul id="menu_block_DB_Manager">
	<li class=""><h3><a href="{|manageProvince|}">Danh mục Tỉnh thành</a></h3></li>	
	<li class=""><h3><a href="{|manageClass|}">Danh mục Lớp học</a></h3></li>
	<li class=""><h3><a href="{|manageCategory|}">Danh mục Bài viết</a></h3></li>	
	<li class=""><h3><a href="{|manageArticle|}">Quản lý bài viết</a></h3></li>
	<li class=""><h3><a href="{|manageHocsinh|}">Quản lý học sinh</a></h3></li>
	<li class=""><h3><a href="{|manageGiasu|}">Quản lý gia sư</a></h3></li>
	<li class=""><h3><a href="{|manageComment|}">Quản lý comment</a></h3></li>
	<li class=""><h3><a href="{|manageAvatar|}">Quản lý avatar</a></h3></li>
</ul></div>