<span class="avataonline popupmenu_menu">
	<a href="#" id="menucp" class="dropmenu popupmenu_menu">My_name</a>
	<ul class="popupmenu_popup" style="margin-top: -2px;">
		<li>{|_lang.fullname|}: Mr.Admin</li>
		<li>{|_lang.view|}: 1000</li>
		<li>{|_lang.info|}: 0 </li>
	</ul>
</span>

<ul>

	<li class="popupmenu_menu"><a href="/frm2/mng" class="dropmenu">CGS</a>
		<ul class="popupmenu_popup">
			<li>Điểm: 0</li><li>Cai gi day: 0 </li><li>Khong gi ca: 0 </li>
		</ul>
	</li>
	<li class="popupmenu_menu"><a href="my.php" class="dropmenu">{|lang.my|}</a>
		<ul class="popupmenu_popup headermenu_popup" id="my_menu" style="">
			<li><a href="my.php?item=threads">Bài viết</a></li>
			<li><a href="my.php?item=favorites&amp;type=thread">Bài yêu thích</a></li>
			<li><a href="my.php?item=subscriptions">Đã đọc</a></li>
			<li><a href="my.php?item=grouppermission">Quyền hạn</a></li>
			<li><a href="my.php?item=polls&amp;type=poll">Bình chọn</a></li>
			<li><a href="my.php?item=tradestats">Giao dịch</a></li>
			<li><a href="my.php?item=reward&amp;type=stats">Nhận thưởng</a></li>
			<li><a href="my.php?item=activities&amp;type=orig&amp;ended=no">Hoạt động</a></li>
			<li><a href="my.php?item=debate&amp;type=debate">Biện luận của tôi</a></li>
			<li><a href="my.php?item=buddylist">Bạn của tôi</a></li>
			<li><a href="space.php?uid=1" target="_blank">Không gian riêng</a></li>
		</ul>
	</li>
	
	<li class="" alt="abc" title="Db manager"><a href="{|link_admin|}">{|lang.admin|}</a></li>
	<li class="current"><a href="{|link_system|}">{|lang.system|}</a></li>
	<li class=""><a href="{|link_logout|}">{|lang.logout|}</a></li>
</ul>