<div class="box">
	<span class="headactions"><span class="toggle"></span></span>
	<h4>{|lang.title|}</h4>
	{|FORM_BEGIN|}
	<table cellpadding="5" cellspacing="0" class="toggle-content">
		<tr>
			<th width="100">{|lang.portal_name|}</th>
			<th>{|portal_name|} {|lang.portal_name_note|}</th>
		</tr>
		<tr>
			<th>{|lang.brief|}</th>
			<th>{|portal_brief|} {|lang.brief_note|}</th>
		</tr>
		<tr>
			<th>{|lang.publish|}</th>
			<th>{|portal_publish|}</th>
		</tr>
		<tr>
			<td colspan="2" class="footoperation">
				{|portal_btn_OK|} {|portal_btn_RESET|}
			</td>
		</tr>
	</table>
	{|FORM_END|}
</div>