<div class="box">
	<span class="headactions"><span class="toggle"></span></span>
	<h4>{|lang.form_name|}</h4>
	
	{|FORM_BEGIN|}
	<table cellpadding="5" cellspacing="0" class="toggle-content">
		<tr>
			<th width="100">{|lang.page_name|}</th>
			<th>{|page_name|}</th>
		</tr>
		<tr>
			<th>{|lang.brief|}</th>
			<th>{|brief|}</th>
		</tr>
		<tr>
			<th>{|lang.layout|}</th>
			<th>{|layout|} <span class="icon-reload_16 hand item-reload_layout" rel="{|id|}" title="Reload layout">Reload</span></th>
		</tr>
		<tr>
			<th>{|lang.master|}</th>
			<th>{|master_page_id|}</th>
		</tr>
		<tr>
			<th>{|lang.parent|}</th>
			<th>{|portal_id|}</th>
		</tr>
		<tr>
			<th>{|lang.publish|}</th>
			<th>{|publish|}</th>
		</tr>
		<tr>
			<th>{|lang.title|}</th>
			<th>{|page_title|} {|lang.title_brief|}</th>
		</tr>
		<tr>
			<th>{|lang.description|}</th>
			<th>{|page_description|} {|lang.description_brief|}</th>
		</tr>
		<tr>
			<th>{|lang.keyword|}</th>
			<th>{|page_keyword|} {|lang.keyword_brief|}</th>
		</tr>
		<tr>
			<td colspan="2" class="footoperation">{|page_btn_OK|} {|page_btn_RESET|}</td>
		</tr>
	</table>
	
	{|FORM_END|}
</div>