<div id="append_parent"></div><div id="ajaxwaitid"></div>
<div id="header">[[|leftheader|]] [[|rightheader|]]</div>
<div id="menu">[[|navigation|]]</div>
<div class="wrap">	
	<div id="nav">[[|pathway|]]</div>
	<div class="container">
	<table style="width: 100%; margin: 0 auto; text-align: left; vertical-align:top;">
		<tr style="width: 100%;"><td style="width: 21%; vertical-align:top;">	
		<!--menu left-->
		<div class="side">
			[[|side|]]
		</div>
		<!--end menu left-->
		</td><td style="width: 58%; vertical-align:top;">
		<div class="content">
			[[|center|]]
		</div><!--end content-->
		</td><td style="width: 21%; vertical-align:top;">
		<!--menu right-->
		<div class="rightside">
			[[|rightside|]]
		</div>
		<!--end menu right-->
		</td>
	</tr>	
	</table>	
	</div><!--end container-->
</div><!--end wrap-->

<div id="footer">[[|footer|]]</div>