<div>

<span class="headactions"><img id="menu_block_DB_Manager_img" src="http://localhost/frm2/tpldbCgsBackup/blue/images/collapsed_no.gif" title="Unspread/Spread" alt="Unspread/Spread" onclick="toggle_collapse('menu_block_DB_Manager');" /></span>
<h2><a href="/frm2/dbCgsBackup/index">DB Manager</a></h2>
<ul id="menu_block_DB_Manager">
	<li class=""><h3><a href="/frm2/dbCgsBackup/server"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/home_16.gif"/> Thông tin máy chủ</a></h3></li>
	<li class=""><h3><a href="/frm2/dbCgsBackup/config"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/confg_16.gif"/> Cấu hình kết nối</a></h3></li>
	<li class=""><h3><a href="/frm2/dbCgsBackup/import"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/impt_16.gif"/> Nhập dữ liệu</a></h3></li>
	<li class=""><h3><a href="/frm2/dbCgsBackup/backup"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/exp_16.gif"/> Sao lưu</a></h3></li>

	<li class=""><h3><a href="/frm2/dbCgsBackup/scheduled"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/alarm_16.gif"/> Lịch sao lưu</a></h3></li>
	<li class=""><h3><a href="/frm2/dbCgsBackup/dbInfo"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/about_16.gif"/> Thông tin database</a></h3></li>
	<li class=""><h3><a href="/frm2/dbCgsBackup/sqlQuery"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/go_16.gif"/> Truy vấn sql</a></h3></li>
	<li class=""><h3><a href="/frm2/dbCgsBackup/help"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/help_16.gif"/> Trợ giúp</a></h3></li>
</ul></div>