<div class="mainbox">
	<span style=" color: white;
    float: right;
    padding: 4px 8px 4px;
    text-decoration: none;"><i>{|updatetime|}</i></span>		
	<h3>{|name|}</h3>
	<table cellpadding="5" cellspacing="0" class="toggle-content">
		<tr>
			<td width="30%">Người tải lên</td>
			<td width="70%">{|author|}</td>
		</tr>
		<tr>
			<td>Mô tả</td>
			<td>{|description|}</td>
		</tr>
		<tr>
			<td>Tải về</td>
			<td>{|downloadLink|}</td>
		</tr>
		<tr>
			<td colspan="2">{|back|}</td>
		</tr>
	</table>	
</div>




