<div>
<span class="headactions"></span>
<h2><span>Tin giáo dục</span></h2>
<ul id="menu_block_DB_Manager">

<!-- BEGIN BlockList1 -->
	<li style ="list-style: none outside none; text-indent: 1px;" ><div style="margin-bottom: 4px; height: 55px; line-height: 1.5em;"><a href="{|article_link|}" style="color: blue;">
	<span style="float: left; padding-top: 3px;  padding-right: 4px;">{|displayImage|}</span><span style="">{|subject|}</span></div></a></li>		
<!-- END BlockList1 -->			
</ul></div>