<div class="mainbox list">	
	<h3>Tra cứu điểm thi Đại học - Cao đẳng 2012</h3> 
{|FORM_BEGIN|}
<table>
<tr>
	<th colspan="2"><center><b>Đã có <span style="color: red;">{|count|}</span> trường có điểm</b></center></th>
	</tr>
		<tr>
	<th>Chọn trường</th>
	<th>{|university|}</th>
		</tr>
		<tr>
			<th>Tìm kiếm theo:</th>
			<th>{|searchType|}</th>
		</tr>
		<tr>
			<th>SBD/Họ tên</th>
			<th>{|name_search|}</th>
		</tr>
		<tr>
		<th colspan="2"><center><input type="submit" name="submit-btn" id="submit-btn" value="Tra điểm"/></center></th>
</table>
{|FORM_END|}
</div>

<div id="boxes">
			<div id="dialog" class="window">
				<div style="float:right;"><a href="#"class="close" style="color:blue;"/>[X]</a></div>
				<div id="content">
				</div>
			</div>
			<div id="mask">(trungtamtoan.com) DIEM THI DAI HOC - CAO DANG 2012</div>			
		</div>
		
		
		
<div class="mainbox list">
<div id="comment"  ><div class="comment" id="menu">
<span style=" color: white;
    float: left;
    padding: 4px 8px 3px;
    text-decoration: none;"><b>Thông báo điểm cho bạn bè qua facebook</b></span>
</div>

</div>
<div class="comment">
<div id ="fb_comment">
<div id="fb-root"></div>
<div class="fb-comments" data-href="{|currentLink|}" data-num-posts="1" data-width="550"></div>

</div>