<div class="mainbox list">		
<table cellpadding="5" cellspacing="0">
		<tr  style="border: 1px solid #CAD9EA;">
			<th width="50%"><h3><span>Dành cho phụ huynh</span></h3></th>
			<th width="50%"><h3><span>Dành cho gia sư</span></h3></th>
		</tr>
		<tr>
			<th style="border: 1px solid #CAD9EA;">
			<ul>
				<!-- BEGIN BlockList1 -->
					<li style ="list-style: none outside none; text-indent: 1px;" >
					<div style="margin-bottom: 3px; height: 30px; line-height: 1.5em;">
					<a href="{|article_link|}" style="color: blue;">
					<span style="float: left; padding-top: 7px;  padding-right: 4px;">{|displayImage|}</span>
					<span style="">{|subject|}</span>
					</a>
					</div>
					
					</li>		
				<!-- END BlockList1 -->	
			</ul>
			</th>
			<th>
			<ul>
				<!-- BEGIN BlockList2 -->
				<li style ="list-style: none outside none; text-indent: 1px;" >
				<div style="margin-bottom: 3px; height: 30px; line-height: 1.5em;">
				<a href="{|article_link|}" style="color: blue;">
				<span style="float: left; padding-top: 7px;  padding-right: 4px;">{|displayImage|}</span>
				<span style="">{|subject|}</span></a></div></li>		
				<!-- END BlockList2 -->	
			</ul>
			</th>
		</tr>
</table>		
</div>