<div class="mainbox list">
<h3>Hỗ trợ </h3>
<table cellpadding="5" cellspacing="0">
		<tr style="text-align:left;">
			<th width="100%" colspan='2' style="background: #E8F3FD;" ><h2>Hỗ trợ phụ huynh</h2></th>
		</tr>
		<tr>
			<th width="15%">Email</th>
			<th width="85%">hotrophuhuynh@trungtamtoan.com</th>
		</tr>
		<tr>
			<th>Điện thoại</th>
			<th>0979.603.340</th>
		</tr>
		<tr style="text-align:left;">
			<th width="100%" colspan='2' style="background: #E8F3FD;" ><h2>Hỗ trợ gia sư</h2></th>
		</tr>
		<tr>
			<th width="15%">Email</th>
			<th width="85%">hotrogiasu@trungtamtoan.com</th>
		</tr>
		<tr>
			<th>Điện thoại</th>
			<th>0979.603.340</th>
		</tr>
</table>
</div>