<div>
<span class="headactions"></span>
<h2><span>Lớp mới nhất</span><span style="float: right;">{|newImage|}</span></h2>
<ul id="menu_block_DB_Manager">
{|newClass|}	
</ul>
</div>

<div>
<span class="headactions"></span>
<h2><span>Lớp phù hợp với bạn</span><span align="right"></span></h2>
<ul id="menu_block_DB_Manager">
{|htmlSuggest|}	
</ul>
</div>
<div>
{|promotion|}
</div>
<div>
<span class="headactions"></span>
<h2><span>Liên hệ</span><span align="right"></span></h2>
<ul id="menu_block_DB_Manager">
<li><h3>Hotline: <b>0979.603.340</b></h3></li>
<li><h3>Email: <span style="color: red;">admin@trungtamtoan.com</span></h3></li>
</ul>
</div>
