<div class="login">
	<div class="boximage"><img src="http://localhost/frm2/tplmng/default/images/common/keepassx_128.png" width="100"/></div>
	<div class="boxtext">
		<div class="title">Đăng nhập hệ thống</div>
		<div class="box">
			<ul>
				<li class="label"><label>Tên:</label></li>
				<li class="textbox"><input type="textbox" name="username" value=""/></li>
			</ul>
			<ul>
				<li class="label"><label>Mật khẩu:</label></li>
				<li class="textbox"><input type="textbox" name="username" value=""/></li>
			</ul>
		</div>
		<button class="submit" type="submit">Đăng nhập</button>
		<label><a href="#">Quên mật khẩu?</a></label>
	</div>
</div>