<div class="boxesitem">
					<ul>
		            	<li>
	                    	<div class="boximage"><a href="/frm2/dbCgsBackup/server"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/home_32.gif"/></a></div>
	                        <div class="boxtext">
	                        	<span class="boxtexttitle"><a href="/frm2/dbCgsBackup/server">Thông tin máy chủ</a></span><br>

								<span class="boxtextowner">by Artua Design Studio by Artua Design Studio</span><br>
								<span class="boxtexttotal">1 submenus </span>
	                      	</div>
		                </li>
		                <li>
	                    	<div class="boximage"><a href="/frm2/dbCgsBackup/config"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/confg_32.gif"/></a></div>
	                        <div class="boxtext">
	                        	<span class="boxtexttitle"><a href="/frm2/dbCgsBackup/config">Cấu hình kết nối</a></span><br>

								<span class="boxtextowner">by Artua Design Studio</span><br>
								<span class="boxtexttotal">3 submenus</span>
	                      	</div>
		                </li>
		                <li>
	                    	<div class="boximage"><a href="/frm2/dbCgsBackup/import"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/impt_32.gif"/></a></div>
	                        <div class="boxtext">
	                        	<span class="boxtexttitle"><a href="/frm2/dbCgsBackup/import">Nhập dữ liệu</a></span><br>

								<span class="boxtextowner">by Artua Design Studio</span><br>
								<span class="boxtexttotal">1 submenus</span>
		                    </div>
		                </li>
		                <li>
	                    	<div class="boximage"><a href="/frm2/dbCgsBackup/backup"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/exp_32.gif"/></a></div>
	                        <div class="boxtext">
	                        	<span class="boxtexttitle"><a href="/frm2/dbCgsBackup/backup">Sao lưu</a></span><br>

								<span class="boxtextowner">by Artua Design Studio</span><br>
								<span class="boxtexttotal">1 submenus</span>
		                    </div>
		                </li>
		            	<li>
	                    	<div class="boximage"><a href="/frm2/dbCgsBackup/scheduled"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/alarm_32.gif"/></a></div>
	                        <div class="boxtext">
	                        	<span class="boxtexttitle"><a href="/frm2/dbCgsBackup/scheduled">Lịch sao lưu</a></span><br>

								<span class="boxtextowner">by Artua Design Studio</span><br>
								<span class="boxtexttotal">1 submenus</span>
		                    </div>
		                </li>
		                <li>
	                    	<div class="boximage"><a href="/frm2/dbCgsBackup/dbInfo"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/about_32.gif"/></a></div>
	                        <div class="boxtext">
	                        	<span class="boxtexttitle"><a href="/frm2/dbCgsBackup/dbInfo">Thông tin database</a></span><br>

								<span class="boxtextowner">by Artua Design Studio</span><br>
								<span class="boxtexttotal">1 submenus</span>
		                    </div>
		           		</li>
		                <li>
	                    	<div class="boximage"><a href="/frm2/dbCgsBackup/sqlQuery"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/go_32.gif"/></a></div>
	                        <div class="boxtext">
	                        	<span class="boxtexttitle"><a href="/frm2/dbCgsBackup/sqlQuery">Truy vấn sql</a></span><br>

								<span class="boxtextowner">by Artua Design Studio</span><br>
								<span class="boxtexttotal">1 submenus</span>
		                    </div>
		                </li>
		                <li>
	                    	<div class="boximage"><a href="/frm2/dbCgsBackup/help"><img src="http://localhost/frm2/tpldbCgsBackup/blue/images/ext/help_32.gif"/></a></div>
	                        <div class="boxtext">
	                        	<span class="boxtexttitle"><a href="/frm2/dbCgsBackup/help">Trợ giúp</a></span><br>

								<span class="boxtextowner">by Artua Design Studio</span><br>
								<span class="boxtexttotal">1 submenus</span>
		                    </div>
		                </li>
		        	</ul>
				</div>
				<table style="clear:both" summary="HeadBox" class="portalbox" cellpadding="0" cellspacing="1"><tr></tr></table>
				<div class="notice">

					Đây là chương trình quản lý CSDL trên website của bạn.<br/>
					dbMyBackupPro là chương trình miễn phí theo giấy phép GNU GPL.<br>
For help try the online help or visit %s.<br><br>
Choose in the top menu what you want to do next! If this is your first time using dbMyBackupPro you should start with the configuration!
The rights of the directory 'export' and the file 'global_conf.php' must be set to 0777.<br/>
				</div>