
	<div class="wrap">
		<div id="footlinks">
			<p>All times are GMT+7, the time now is 2010-08-22 00:08:58</p>
			<p>
				<a href="mailto:longhoangvnn@cgs.vn">Contact Us</a>
				- <span class="scrolltop" onclick="window.scrollTo(0,0);">Đầu trang</span>

				- <span id="langswitcher" class="dropmenu" onmouseover="showMenu(this.id)">Ngôn ngữ</span>
				- <span id="styleswitcher" class="dropmenu" onmouseover="showMenu(this.id)">Giao diện</span>
					<div id="langswitcher_menu" class="popupmenu_popup" style="display: none;">
						<ul>
							<li class="current"><a href="###" onClick="goUrl('/frm2/mng/index?isLangSys=vn')">Tiếng việt</a></li>
							<li><a href="###" onClick="goUrl('/frm2/mng/index?isLangSys=en')">English</a></li>

							<li><a href="###" onClick="goUrl('/frm2/mng/index?isLangSys=jp')">Japanese</a></li>
						</ul>
					</div>
				
					<div id="styleswitcher_menu" class="popupmenu_popup" style="display: none;">
						<ul>
							<li class="current"><a href="###" onClick="goUrl('/frm2/mng/index?isStyleMod=')">_None_</a></li>
							<li><a href="###" onClick="goUrl('/frm2/mng/index?isStyleMod=default')">Default</a></li>

							<li><a href="###" onClick="goUrl('/frm2/mng/index?isStyleMod=blue')">Blue</a></li>
						</ul>
					</div>
			</p>
		</div>

		<a href="http://www.cgs.vn" target="_blank" title="Powered by CGS!"><img src="http://localhost/frm2/tplmng/default/images/discuz_icon.gif" Array/></a>
		<p id="copyright">
			Powered by <strong><a href="http://www.cgs.vn" target="_blank">CGS!</a></strong> <em>1.0.0</em>			&copy; 2007-2008
		</p>			<p id="debuginfo">Processed in 1.135274 second(s), 6 queries.</p>

	</div>
