<div class="box">
	<h4>{|lang.header_debug|}</h4>
	
	{|FORM_BEGIN|}
	<table cellpadding="5" cellspacing="0" class="toggle-content">
		<tr>
			<th style="width:200px;">{|debug_enable|}</th>
			<td>
				<ul class="use_in_table">
					<li>{|debug_error|}</li>
					<li>{|debug_general_information|}</li>
					<li>{|debug_layout_position_flugin|}</li>
					<li>{|debug_sql_query|}</li>
					<li>{|debug_includes_file|}</li>
					<li>{|debug_var|}</li>
					<li>{|debug_request|}</li>
					<li>{|debug_lang|}</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="footoperation">
				{|debug_btn_OK|}
				{|debug_btn_RESET|}
			</td>
		</tr>
	</table>
	
	{|FORM_END|}
</div>
