<div class="box">	
	<h3>Bài viết</h3><br>		
	{|FORM_BEGIN|}
	{|article_id|}
	<table cellpadding="5" cellspacing="0" class="toggle-content">
		<tr>
			<th width="100">Chuyên mục</th>
			<th>{|category_id|}</th>
		</tr>
		<tr>
			<th width="100">Tên bài</th>
			<th>{|subject|}</th>
		</tr>
		<tr>
			<th>Ảnh đại diện</th>
			<th>{|headImage|}</th>
		</tr>
		<tr>
			<th>Giới thiệu</th>
			<th>{|introduction|}</th>
		</tr>
		<tr>
			<th>Nội dung</th>
			<th>{|content|}</th>
		</tr>
		<tr>
			<th>Tình trạng</th>
			<th>{|status|}</th>
		</tr>
		
			<td colspan="2" class="footoperation">{|article_btn_OK|} {|article_btn_RESET|}			
			</td>
		</tr>
	</table>	
	{|FORM_END|}
</div>





