<div class="mainbox">	
	<h3>Thông tin cá nhân</h3><br>
		
	{|FORM_BEGIN|}
	<table cellpadding="5" cellspacing="0" class="toggle-content">
		<tr>
			<th width="100px">Tên đăng nhập</th>
			<th>{|username|} <span id="validateUsername"></span></th>
		</tr>
		<tr>
			<th>Mật khẩu</th>
			<th>{|changePassword|}</th>
		</tr>
		<tr>
			<th>Ảnh đại diện</th>
			<th>{|avatar|}</th>
		</tr>
		<tr>
			<th>Giới tính</th>
			<th>{|gender|}</th>
		</tr>
		<tr>
			<th>Ngày sinh</th>
			<th>{|birthday|} <i>(dd-mm-yyyy)</i></th>
		</tr>		
		<tr>
			<th>Họ</th>
			<th>{|firstname|}</th>
		</tr>
		<tr>
			<th>Tên</th>
			<th>{|lastname|}</th>
		</tr>
		<tr>
			<th>Số điện thoại</th>
			<th>{|mobile|}</th>
		</tr>
		<tr>
			<th>Email</th>
			<th>{|email|}</th>
		</tr>
		<tr>
			<th>Địa chỉ</th>
			<th>{|address|} Quận {|location|}</th>
		</tr>
		<tr>
			<th>Trình độ</th>
			<th>{|level|}</th>
		</tr>
		<tr>
			<th>Trường</th>
			<th>{|school|}	Khoa: {|faculty|}</th>
		</tr>		
		<tr>
			<th>Dạy lớp</th>
			<th><div>{|classes|}</div></th>
		</tr>
		<tr>
			<th>Ca dạy</th>
			<th><div>{|sessions|}</div></th>
		</tr>
		<tr>
			<th>Nơi dạy</th>
			<th><div>{|teachat|}</div></th>
		</tr>
		<tr>
			<th>Khoảng lương</th>
			<th>{|fee|}đ/1ca<br><i>(vd: 80.000-120.000đ/ca)</i></th>
		</tr>
		<tr>
			<th>Thông tin khác:</th>
			<th><div>{|introduction|}</div></th>
		</tr>
		<tr>
			<th>Quyền</th>
			<th><div>{|permission|}</div></th>
		</tr>
		<tr>
			<th>Đánh giá</th>
			<th><div>{|validate|}</div></th>
		</tr>
		<tr>
			<th>Tình trạng</th>
			<th><div>{|status|}</div></th>
		</tr>
		<tr>
			<th width="100" colspan='2' style="background: #E8F3FD;"><h2>Yêu cầu đối với trung tâm</h2></th>
		</tr>
		<tr>
			<th>Yêu cầu</th>
			<th>{|isNeedValid|}</th>
		</tr>
		
		<tr>		
			<td colspan="2" class="footoperation"><center>
			<input type="submit" name="register" id="register" value="Cập nhật" class="submit"/>
			<input type="reset" value="Làm lại" class="submit"/></center>		
			</td>
		</tr>
	</table>	
	{|FORM_END|}
</div>





