<div class="mainbox list">	

	<h3>Danh học sinh</h3> 
	<table cellspacing="0" cellpadding="0" class="toggle-content"> 
		<thead class="category">
			<tr>
				<th>STT</th>
				<th>Mã</th>
				<th>Tên phụ huynh</th>	
				<th>Số điện thoại</th>	
				<th>Người cập nhật</th>	
				<th>Ngày cập nhật</th>
				<th>Tình trạng</th>	
			</tr>
		</thead>
		<tbody>
		
			<!-- BEGIN BlockList -->
			<tr>
				<td>{|stt|}</td>
				<td>{|code|}</td>
				<td><a href="{|detail_link|}">{|mothername|}</a></td>	
				<td>{|mobile|}</td>	
				<td>{|userupdate|}</td>		
				<td>{|updatetime|}</td>
				<td>{|status|}</td>
			</tr>
			<!-- END BlockList -->
			<tr><td colspan="4" class="paging">{|paging|}<td></tr>
		</tbody>
	</table>
	
</div>