<div class="mainbox list">	
	<span style="float: right;"><a href="{|newClass|}" style=" color: white;"><b>Thêm lớp mới</b></a></span>
	<h3>Danh sách các lớp hiện có</h3> 
	<table cellspacing="0" cellpadding="0" class="toggle-content"> 
		<thead class="category">
			<tr>
				<th width="30">STT</th>
				<th>Tên lớp</th>	
				<th>Người tạo</th>	
				<th>Ngày tạo</th>	
				<th>Tình Trạng</th>	
			</tr>
		</thead>
		<tbody>
		
			<!-- BEGIN BlockList -->
			<tr>
				<td>{|stt|}</td>
				<td><a href="{|detail_link|}">{|name|}</a></td>
				<td>{|username|}</td>
				<td>{|updatetime|}</td>
				<td>{|status|}</td>
			</tr>
			<!-- END BlockList -->
		</tbody>
	</table>
	
</div>