<div id="boxes">
			<div class="window" id="dialog" style="left: 300px; top: 150px; display: none; width:500px; height: 130px;">
				<div id="content">
					<div class="mainbox list">	
					<h3>Chọn tỉnh/thành phố bạn đang sinh sống</h3> 
					{|FORM_BEGIN|}
					<table>
					<tr>
						<th>Chọn tỉnh/thành phố</th>
						<th>{|province|}</th>
					</tr>
					<tr>
					<th colspan="2"><center><input type="submit" name="locationsubmit" id="locationsubmit" value="Chọn"/></center></th>
					</table>
					{|FORM_END|}
					</div>				
				</div>
			</div>
			<div id="mask" style="width: 100%; height: 100%; display: none; opacity: 0.8;">(trungtamtoan.com) Để thuận tiện cho việc phục vụ,mời bạn chọn chính xác tỉnh/thành phố mình đang sinh sống</div>			
		</div>
<div id="zoneID" style="display:none">{|zoneID|}</div>	