<div class="mainbox list">
<span style=" color: white;
    float: right;
    padding: 4px 8px 3px;
    text-decoration: none;"><i>10:06 | 10/06/2012</i></span>
<h3>Giới thiệu về Trungtamtoan.com </h3>
<p>
	<img alt="logo" height="126" src="http://trungtamtoan.com/data/avatar/defaultimage.jpg" style="float: left;" width="125" /></p>
<p>
	<b>- Ng&agrave;y 10/06/2012, một nh&oacute;m cựu sinh vi&ecirc;n khoa To&aacute;n-Cơ-Tin học, trường Đại học Khoa học Tự Nhi&ecirc;n - Đại học Quốc gia H&agrave; Nội đ&atilde; quyết định c&ugrave;ng nhau th&agrave;nh lập Trung t&acirc;m To&aacute;n, với mong muốn g&oacute;p một phần sức trẻ của m&igrave;nh v&agrave;o việc ph&aacute;t triển nền to&aacute;n học nước nh&agrave;.</b></p>
<p>
	- Mặc d&ugrave; internet v&agrave; c&aacute;c trang web mạng đang ph&aacute;t triển ồ ạt, nhưng vẫn kh&ocirc;ng có nhiều địa chỉ web tin cậy d&agrave;nh ri&ecirc;ng cho gia sư dạy to&aacute;n v&agrave; học sinh học To&aacute;n, nh&oacute;m đ&atilde; quyết định lập n&ecirc;n website <a href="http://trungtamtoan.com">trungtamtoan.com</a> - l&agrave; cầu nối l&agrave; nơi giao lưu, chia sẻ của học sinh, gia sư, gi&aacute;o vi&ecirc;n v&agrave; c&aacute;c bạn y&ecirc;u th&iacute;ch to&aacute;n học.</p>
<p>
	 &nbsp;<b>Điểm nổi bật của <a href="http://trungtamtoan.com">trungtamtoan.com</a></b></p>
<p>
	 &nbsp; &nbsp;<i>1. Trung t&acirc;m to&aacute;n chỉ chuy&ecirc;n về hoạt động dạy v&agrave; học m&ocirc;n To&aacute;n</i></p>
<p>
	 &nbsp; &nbsp;<i>2. Cho ph&eacute;p người dạy to&aacute;n đăng tin t&igrave;m lớp dạy v&agrave; người học to&aacute;n đăng tin t&igrave;m gi&aacute;o vi&ecirc;n dạy Toán.</i></p>
<p>
	 &nbsp; &nbsp;<i>3. Với th&ocirc;ng tin được đưa l&ecirc;n website, người học to&aacute;n ho&agrave;n to&agrave;n c&oacute; thể t&igrave;m được người dạy ph&ugrave; hợp với m&igrave;nh m&agrave; kh&ocirc;ng cần sự gi&uacute;p đỡ của b&ecirc;n thứ 3. Trong trường hợp người học to&aacute;n cần sự gi&uacute;p đỡ của trung t&acirc;m để t&igrave;m kiếm người dạy. Trung t&acirc;m to&aacute;n sẽ gi&uacute;p đỡ bạn bằng việc giới thiệu cho bạn những gia sư giỏi, đ&atilde; được trung t&acirc;m đ&aacute;nh gi&aacute; v&agrave; đảm bảo về chất lượng dạy.</i></p>
<p>
	 &nbsp; &nbsp;<i>4. Trung t&acirc;m to&aacute;n cho ph&eacute;p chia sẻ miễn ph&iacute; t&agrave;i liệu về to&aacute;n. Chỉ cần l&agrave; th&agrave;nh vi&ecirc;n của trung t&acirc;m, bạn c&oacute; thể tải l&ecirc;n website những t&agrave;i liệu hữu &iacute;ch để chia sẻ với những người y&ecirc;u th&iacute;ch to&aacute;n kh&aacute;c, v&agrave; tất nhi&ecirc;n, bất kỳ ai cũng c&oacute; thể download t&agrave;i liệu đ&oacute; về v&agrave; sử dụng.</i></p>
<p>
	 &nbsp; &nbsp;<i>5. Giống như 1 mạng x&atilde; hội về to&aacute;n, bạn c&oacute; thể để lại những b&igrave;nh luận, đ&aacute;nh gi&aacute; của m&igrave;nh bằng việc sử dụng t&agrave;i khoản facebook, hoặc t&agrave;i khoản đ&atilde; đăng k&yacute; ở trung t&acirc;m to&aacute;n, hoặc bạn cũng c&oacute; thể để lại b&igrave;nh luận bằng 1 nick name bất kỳ m&agrave; kh&ocirc;ng cần đăng nhập.</i></p>
<p>
	Với những tiện &iacute;ch như vậy, trung t&acirc;m to&aacute;n mong muốn sẽ sớm trở th&agrave;nh địa chỉ tin cậy của mỗi người dạy v&agrave; học to&aacute;n tr&ecirc;n khắp mọi miền đất nước, g&oacute;p phần đưa nền to&aacute;n học nước nh&agrave; ph&aacute;t triển mạnh hơn.</p>
<p>
	<b>Xin ch&acirc;n th&agrave;nh cảm ơn!</b></p>
<p>
	<a href="http://trungtamtoan.com" target="_blank">trungtamtoan.com</a></p>
</div>
</div>
</div>