<div class="mainbox list">
<h3>Tài liệu mới nhất cùng danh mục</h3>
<ul>
<!-- BEGIN BlockList -->
	<li style ="list-style: none outside none; padding-left: 10px;" ><a href="{|doc_link|}" style="color: blue;">{|subject|} <i>({|updatetime|})</i></a></li>		
<!-- END BlockList -->
</ul>
</div>

<div class="mainbox list">
<h3>Tài liệu cũ hơn cùng danh mục</h3>
<ul>
<!-- BEGIN BlockList1 -->
	<li style ="list-style: none outside none; padding-left: 10px;" ><a href="{|doc_link1|}" style="color: blue;">{|subject1|} <i>({|updatetime1|})</i></a></li>		
<!-- END BlockList1 -->
</ul>
</div>