<div>
<span class="headactions"></span>
<h2><span>Đăng ký</span></h2>
<ul id="menu_block_DB_Manager">
	<li class=""><h3><a href="{|regTeach|}">Đăng ký làm gia sư</a></h3></li>
	<li class=""><h3><a href="{|regLearn|}">Đăng ký tìm gia sư</a></h3></li>		
</ul></div>

<div>
<span class="headactions"></span>
<h2><span>Danh sách</span></h2>
<ul id="menu_block_DB_Manager">	
	<li class=""><h3><a href="{|listClass|}">Danh sách học sinh</a></h3></li>	
	<li class=""><h3><a href="{|listTeacherb|}">Danh sách gia sư</a></h3></li>		
	<li class=""><h3><a href="{|listTeacher|}">Danh sách gia sư giỏi</a></h3></li>
</ul></div>